/*--资料-----------------------------------------------------------------------------*/
.h4 {
    border-left:3px solid #718c7d;
    padding-left:4px;
}
.tdleft {
    font-size:12px;
    height:30px;
    width:50%;
    text-align:center;
    border: 1px solid #aeaeae;
    background-color:#f6f5f5;
    margin:0px;
}
.tdright {
    font-size:12px;
    height:30px;
    width:50%;
    text-align:center;
    border-top: 1px solid #aeaeae;
    border-right: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    border-left: 1px solid #aeaeae;
    background-color:#f6f5f5;
    margin:0px;
}
.table {
    border-collapse:collapse;
    width:100%;
    text-align:justify;
}
.le2 {
    
    font-size:12px;
    height:30px;
    width:33.33%;
    text-align:center;
    border: 1px solid #aeaeae;
    padding-top:4px;

}
.le {
   text-decoration: none;
   margin-top:20px;
   border-collapse:collapse; 
   background:#ededed;
   color:black;
    
}
.le a:link { text-decoration: none;color:#312828;}    /* 未被访问的链接 */
.le a:visited {text-decoration: none; color:#9a2121; } /* 已被访问的链接 */
.le a:active {text-decoration: none; color:#c3a1a1;}  /* 正在被点击的链接 */

.ul {
    display:block;
    list-style: outside none none;
    width:100%;
}
.li {
  display:block;
  width:50%;
  height:30px;
}
/*--资料-----------------------------------------------------------------------------*/